{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8" />
        <title>Login - Tia Nicka</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- App css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/metismenu.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="account-body">

        <!-- Log In page -->
        <div class="row vh-100 justify-content-center">
            <div class="col-lg-4  pr-0">
                <div class="card mb-0 shadow-none">
                    <div class="card-body">
                        
                        <div class="px-3">
                            <div class="media">
                                <div class="media-body ml-3 align-self-center">
                                    <h4 class="mt-0 mb-1">Login Tia Nicka</h4>
                                    <p class="text-muted mb-0">Entrar no sistema</p>
                                </div>
                            </div>
                            
                            <form class="form-horizontal my-4" action="" method="post" id="loginform">
                                {{ form.non_field_errors }}
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="username">Usuário</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-outline font-16"></i></span>
                                        </div>
                                        {{ form.username|add_class:"form-control" }}
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <label for="userpassword">Senha</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon2"><i class="mdi mdi-key font-16"></i></span>
                                        </div>
                                        {{ form.password|add_class:"form-control" }}
                                    </div>                                
                                </div>
                                <div class="form-group mb-0 row">
                                    <div class="col-12 mt-2">
                                        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Efetuar Login <i class="fas fa-sign-in-alt ml-1"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <!-- End Log In page -->


        <!-- jQuery  -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/js/waves.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>

    </body>
</html>